############################################################
# SERVERLESS CONFIGURATION FOR usefulapi-serverless
#
# Description:
#   Creates AWS lambda functions and associated AWS resources
#   for the "usefulapi-serverless" service
#
# Documentation Reference
#   - https://serverless.com/framework/docs/providers/aws/
#   - https://serverless.com/framework/docs/providers/aws/guide/serverless.yml/
#
# AWS Resources Used:
#   - API Gateway (Service Endpoint)
#   - Lambda (Business Logic)

service: usefulapi-serverless
app: usefulapi-serverless
org: tomand285

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}

  apiGateway:
    binaryMediaTypes:
      - 'multipart/form-data'

functions:
  convert:
    handler: src/convert/index.handler
    events:
      - http:
          path: convert
          method: post